// basic-color
//主色
$primary: #ef3b4f;
$light-primary: #fc767a;
$dark-primary: #ec2f47;
// 辅助色
$info: #2d8cf0; //信息提示
$success: #19be6b; //成功
$warning: #ff9900; //警告
$error: #ed3f14; //失败
//中性色
$title: #1c2438; //标题
$content: #495060; //正文
$sub-color: #80848f; //辅助/图标
$disabled: #bbbec4; //失效
$border: #dddee1; //边框
$divider: #e9eaec; //分割线
$background: #f8f8f9; //背景

// project-color
$bgcolor: #f5f5f9;